h1{
    color:blue;
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.red{
    color:red;
}
.size50
{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}